body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-weight: bold;
}

.container {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 600px;
    margin: auto;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input[type="number"] {
    margin-bottom: 35px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 0.226);
    border-radius: 5px;
}

input[type="range"] {
    width: 100%;
}

input:focus, select:focus {
    outline: none;
}

#down-payment-value {
    display: inline-block;
    margin-top: 5px;
}

.leasing-details {
    margin-left: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.details-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.details-grid .left-column,
.details-grid .right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details-grid .divider {
    width: 1px;
    height: 100%;
    background-color: #ccc;
}

.details-grid p {
    margin: 5px 0;
}

@media (min-width: 768px) {
    .container {
        max-width: 800px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .form-group {
        flex: 1 1 calc(50% - 20px);
        margin-bottom: 20px;
    }

    .form-group.full-width {
        flex: 1 1 100%;
    }

    .leasing-details {
        flex: 1 1 100%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 70%;
        padding: 20px;
    }

    .leasing-details {
        margin-left: 0;
    }

    .details-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    .leasing-details {
        margin-left: 0;
        margin-top: 20px;
    }

    .details-grid {
        grid-template-columns: 1fr;
    }

    .details-grid .divider {
        display: none;
    }
}